@{ 
    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";
    var currentPage = (currentController + "-" + currentAction).ToLower();
 }
@using System.Configuration
@model BhdResponsiveSite.Models.AccountModel

    
    <div id="globalNavButton">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    @if (ConfigurationManager.AppSettings["EnableLoginPage"] == "true")
    {
        <div class="login">
            @if (Request.Cookies["bhd_login"] == null)
            {
                using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.TextBoxFor(m => m.Username, new {@placeholder = "Username", id = "username-textbox"})
                    @Html.PasswordFor(m => m.Password, new {@placeholder = "Password"})
                    <input type="submit" value="Login" class="submit-button" />
                }
                @Html.ActionLink("Not already a member? SIGN UP!", "Signup", "Account")
            }
        </div>
    }

<div id="header-logo">
    <a href="@Url.Action("Index", "Home")" class="link-logo">
        <img src="/Content/images/logo/blackhawkdown.png" alt="down" />
    </a>

</div>

<div id="navigation" class="clearfix">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = currentPage == "home-index" ? "current" : "" })</li>
        <li>@Html.ActionLink("Videos/Music", "Music", "Home", null, new { @class = currentPage == "home-music" ? "current" : "" })</li>
        <li>@Html.ActionLink("Gig Dates", "Gigs", "Home", null, new { @class = currentPage == "home-gigs" ? "current" : "" })</li>
        <li>@Html.ActionLink("About", "About", "Home", null, new { @class = currentPage == "home-about" ? "current" : "" })</li>
        <li>@Html.ActionLink("Links", "Links", "Home", null, new { @class = currentPage == "home-links" ? "current" : "" })</li>
        <li>@Html.ActionLink("Contact Us", "Index", "Contact", null, new { @class = currentPage == "contact-index" ? "current" : "" })</li>
    </ul>
</div>
