@{
    ViewBag.Title = "Tour and Show Dates | BlackHawkDown";
    ViewBag.Description = "Find out where and when the next BlackHawkDown gig is happening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<BhdResponsiveSite.Models.GigDetail>

<div id="main-content" class="gigs-page page-block">
    <h1>
        Upcoming Gigs</h1>
    <ul class="gig-list">
        @foreach (var gig in Model)
        {
            <li>
                @gig.GigDate.ToString("dd-MM-yyyy") - <a href="@gig.LinkUrl" rel="nofollow" target="_blank">@gig.Venue</a>, @gig.Location @gig.ExtraDetail
            </li>
        }
    </ul>
</div>
