@{
    ViewBag.Title = "UK Heavy Rock Band | BlackHawkDown";
    ViewBag.Description = "BlackHawkDown - rifftastic rock in the UK";
    ViewBag.Keywords = "blackhawkdown, uk heavy rock, heavy rock, rock, grunge, midlands, unique, metal, alternative metal, seattle grunge, band, bhd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BhdResponsiveSite.Models.GigList

<div>
    
    <section class="module parallax parallax-2">
        <div class="container" style="color: white;">
            <h1>Our music</h1>
            <p>Listen to our latest release, "Prefix", below... we have more music coming your way soon - the guys are in the studio as we speak preparing our first full-length album for your listening pleasure.</p>
            <p>If you like what you hear, you can sign up to our newsletter to get a free track download, or you can buy the EP either online or get an actual, real-life physical CD!</p>
        </div>
    </section>

    <section class="module content">
        <div class="music-section col-md-12 container">
            <div class="col-md-5">
                <iframe style="border: 0; width: 100%; height: 307px;"
                        src="https://bandcamp.com/EmbeddedPlayer/album=1757988678/size=large/bgcol=333333/linkcol=0f91ff/artwork=small/transparent=true/"
                        seamless>
                    <a href="http://blackhawkdownuk.bandcamp.com/album/prefix">
                        Prefix by BlackHawkDown
                    </a>
                </iframe>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <blockquote class="blockquote">
                    To be honest every song I hear I want to scream out the words. It’s so infectious and empowering it takes you over, especially “Annie Who”.<br />
                    <a href="http://jamsphere.com/reviews/blackhawkdown-prefix-this-is-what-heavy-rock-is-all-about" class="blockquote-reverse pull-right">Jamsphere</a>
                </blockquote>

                <blockquote class="blockquote">
                    The sound of the band reminds me of Pantera meets Danzig. Hard to understand why they have not made international headlines yet! My favorite is "Vision Up".<br />
                    <a href="https://projectmetalmusic.wordpress.com/2016/07/10/blackhawkdown/" class="blockquote-reverse pull-right">Project Metal Music</a>
                </blockquote>
            </div>
        </div>
        <div style="clear: both;"></div>
    </section>

    <section class="module parallax parallax-3">
        <div class="container">
            <h1>Upcoming shows</h1>
        </div>
    </section>

    <section class="module content">
        <div class="gigs-section container">

            <div class="row gigs-heading">
                <div class="col-sm-4 col-xs-4 col-md-4">
                    <span>Venue</span>
                </div>

                <div class="col-sm-4 col-xs-4 col-md-4">
                    <span>Date</span>
                </div>

                <div class="col-sm-4 col-xs-4 col-md-4">
                    <span>Info</span>
                </div>
            </div>
            @foreach (var gig in Model.Gigs)
            {
                <div class="row">
                    <div class="col-sm-4 col-xs-4 col-md-4">
                        <a href="@gig.LinkUrl" 
                           target="_blank"
                           onclick="_gaq.push(['_trackEvent', 'Home Links', 'Click', 'Gigs Page'])">
                            <span>@gig.Venue</span>,
                            <span>@gig.Location</span>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-4 col-md-4">
                        <span>@gig.GigDate.ToShortDateString()</span>
                    </div>
                    
                    @if (gig.ExtraDetail != null)
                    {
                        <div class="col-sm-4 col-xs-4 col-md-4">
                            <span>@gig.ExtraDetail</span>
                        </div>
                    }
                </div>
            }
        </div>
            
    </section>

    <section class="module parallax parallax-4">
        <div class="container" style="color: white;">
            <h1>Latest video - FrEEman</h1>
        </div>
    </section>
    
    <section class="module content">
        <div class="video-block">
            <div id="yt-wrapper" class="full-width-video-container main-video promo">
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('<iframe width="460" height="234" src="https://www.youtube.com/embed/gpoXAWDQd84?rel=0" frameborder="0" allowfullscreen></iframe>').appendTo('#yt-wrapper');
        });

        function share_click(width, height, url) {
            var leftPosition, topPosition;
            //Allow for borders.
            leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
            //Allow for title and status bars.
            topPosition = (window.screen.height / 2) - ((height / 2) + 50);
            var windowFeatures = "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no";
            u = location.href;
            t = document.title;
            window.open(url, 'sharer', windowFeatures);
            return false;
        }
    </script>
}
