@model BhdResponsiveSite.Models.ContactViewModel

@{
    ViewBag.Title = "Contact BlackHawkDown";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-block">
    <div id="main-content">
        <h1>Contact Us</h1>
        <div id="content">
            <p>
                For booking or press enquiries, please call Marc on 07716 373174, email band@blackhawkdown.org.uk or use the form below.<br />
                Or please see our @Html.ActionLink("ONLINE PRESS KIT","PressKit", "Home") for images, bio and contact details.
            </p>
        </div>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div id="contact-form">
                <fieldset>
                    <legend id="contact-heading">Contact BlackHawkDown</legend>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Subject)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Subject)
                        @Html.ValidationMessageFor(model => model.Subject)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Message)
                    </div>
                    <div class="editor-field" id="message">
                        @Html.TextAreaFor(model => model.Message,
                          new
                          {
                              id = "text",
                              style = "width:100%; height:260px;"
                          })
                        @Html.ValidationMessageFor(model => model.Message)
                    </div>
                    <p>
                        <input type="submit" value="Send" />
                    </p>
                </fieldset>
            </div>
        }
    </div>
</div>